<h2><%= @user.username.titleize %>'s Book List:</h2>
<h4>You've read <%=@user.books.count%> out of 84.</h4>


<ol type="1">
<%@user.books.each do |book|%>
  <li><a href="/mybooks/<%=book.id %>"><%=book.title%></a><br>  
   by <%=book.author%></li><br>
<% end %>
</ol>

<a href="/mybooks/new">Add Book</a><br>

<a href="/oprah_books">Back to Oprah's List</a><br>






