<h4><a href="/">Home</a> | <a href="/oprah_books">Oprah's Books</a> |   <a href="/mybooks">My Books</a> |  <a href="/mybooks/new">Add Book</a> |   <a href="/logout">Log Out</a></h4><br>

<h2><%= @user.username.titleize %>'s Book List:<br>
(You've read <%=@user.books.count%> out of 84 books)</h2>


  <ol type="1">
   <%@user.books.each do |book|%>
   <li><a href="/mybooks/<%=book.id %>"><%=book.title%></a><br>  
    by <%=book.author%></li><br>
   <% end %>
  </ol>


<h5> Please click on the book to remove it from your list. </h5>






